.calculator {
  margin-bottom: 110px;

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    margin-bottom: 80px;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    margin-bottom: 60px;
  }
}

.calculator__title {
  font-weight: 700;
  font-size: 41px;
  margin: 0;
  margin-bottom: 70px;
  padding: 0;

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    font-size: 32px;
    margin-bottom: 45px;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    font-size: 22px;
    margin-bottom: 35px;
  }
}

.calculator__form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.calculator__first-step {
  display: flex;
  flex-direction: column;
}

.calculator__step-title {
  font-weight: 500;
  font-size: 22px;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    font-size: 18px;
    margin-bottom: 25px;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.calculator__loan-purpose-wrapper {
  display: flex;
  flex-direction: column;
  width: 600px;
  min-height: 60px;
  border: 1px solid $basic-text-color;
  border-radius: 4px;

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    min-width: 678px;
    width: 100%;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    min-width: 290px;
    width: 100%;
  }
}

.calculator__loan-purpose-btn {
  display: flex;
  align-items: center;
  background: none;
  background-image: url("../../img/arrow-down.svg");
  background-size: 16px 8px;
  background-repeat: no-repeat;
  background-position: bottom 26px right 26px;
  border: none;
  padding: 10px 24px;
  font-weight: 500;
  font-size: 16px;
  min-height: 60px;
  cursor: pointer;

  &:hover {
    background-color: $background-color;
  }
}

.calculator__loan-purpose-btn--close {
  background-image: url("../../img/arrow-up.svg");
}

.calculator__select-list {
  font-weight: 400;
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #0A1E32;
}

.calculator__select-list-item {
  border-bottom: 1px solid $light-grey;
  min-height: 60px;

  &:last-child {
    border-bottom: none;
  }
}

.calculator__select-list-item a {
  display: flex;
  padding: 10px 24px;
  align-items: center;
  text-decoration: none;
  color: $basic-text-color;
  min-height: 60px;

  &:hover {
    background-color: $background-color;
  }
}

.calculator__second-step {
  margin: 0;
  margin-top: 40px;

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    margin-top: 30px;
  }
}

.calculator__loan-parameters-wrapper {
  display: flex;
  flex-direction: column;
}

.calculator__offer {
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 389px;
  background-color: $background-color;
  border-radius: 4px;
  padding: 60px 59px;
  position: absolute;
  top: 0;
  right: 0;

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    position: static;
    min-width: 678px;
    width: 100%;
    padding: 60px 60px;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    position: static;
    min-width: 290px;
    width: 100%;
    min-height: 433px;
    padding: 40px 15px;
  }
}

.calculator__offer-title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-weight: 500;
  font-size: 22px;

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    margin-bottom: 35px;
    font-size: 18px;
  }
}

.calculator__offer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.calculator__offer-item {
  width: 50%;
  margin-bottom: 40px;

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    width: 177px;
    margin-right: 50px;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    margin-bottom: 25px;
  }
}

.calculator__offer-item--percent,
.calculator__offer-item--income {
  padding-left: 35px;

  @media (min-width: $mobile) and (max-width: $desktop-breakpoint) {
    padding-left: 0;
  }
}

.calculator__offer-amount {
  font-weight: 500;
  font-size: 22px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    margin-bottom: 12px;
    font-size: 18px;
  }
}

.calculator__offer-description-text {
  color: $dark;
  margin: 0;
  padding: 0;
}

.calculator__offer-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 51px;
  padding: 10px;
  background-color: $basic-bright;
  color: $background-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    font-size: 14px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.7;
  }
}
