.calculator {
  margin-top: 98px;
  margin-bottom: 98px;

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    margin-top: 70px;
    margin-bottom: 68px;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    margin-top: 53px;
    margin-bottom: 54px;
  }
}

.calculator__title {
  font-weight: 700;
  font-size: 41px;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    font-size: 32px;
    margin-bottom: 26px;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    font-size: 22px;
    margin-bottom: 24px;
  }
}

.calculator__form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.calculator__first-step {
  display: flex;
  flex-direction: column;
}

.calculator__step-title {
  font-weight: 500;
  font-size: 22px;
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    font-size: 18px;
    margin-bottom: 20px;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    font-size: 16px;
    margin-bottom: 14px;
  }
}

.calculator__second-step .calculator__step-title {
  margin-bottom: 16px;

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    margin-bottom: 14px;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    margin-bottom: 9px;
  }
}

.calculator__loan-purpose-wrapper {
  display: flex;
  flex-direction: column;
  width: 600px;
  min-height: 60px;
  border: 1px solid $basic-text-color;
  border-radius: 4px;

  @media (min-width: $desktop) and (max-width: $max-content-breakpoint) {
    width: 450px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    min-width: 678px;
    width: 100%;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    min-width: 290px;
    width: 100%;
  }
}

.calculator__loan-purpose-btn {
  display: flex;
  align-items: center;
  background: none;
  background-image: url("../../img/arrow-down.svg");
  background-size: 18px 11px;
  background-repeat: no-repeat;
  background-position: bottom 25px right 26px;
  border: none;
  padding: 10px 24px;
  font-weight: 500;
  font-size: 16px;
  min-height: 58px;
  cursor: pointer;

  &:hover {
    background-color: $background-color;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    background-position: bottom 25px right 13px;
    padding: 10px 15px;
  }
}

.calculator__loan-purpose-btn--close {
  background-image: url("../../img/arrow-up.svg");
}

.calculator__select-list {
  font-weight: 400;
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #0A1E32;
}

.calculator__select-list-item {
  border-bottom: 1px solid $light-grey;
  min-height: 59px;

  &:last-child {
    border-bottom: none;
  }
}

.calculator__select-list-item a {
  display: flex;
  padding: 10px 24px;
  align-items: center;
  text-decoration: none;
  color: $basic-text-color;
  min-height: 60px;

  &:hover {
    background-color: $background-color;
  }
}

.calculator__second-step {
  margin: 0;
  margin-top: 35px;

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    margin-top: 25px;
  }
}

.calculator__loan-parameters-wrapper {
  display: flex;
  flex-direction: column;
}

.calculator__offer {
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 389px;
  background-color: $background-color;
  border-radius: 4px;
  padding: 60px 59px;
  position: absolute;
  top: 0;
  right: 0;

  @media (min-width: $desktop) and (max-width: $max-content-breakpoint) {
    width: 450px;
    padding: 60px 30px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    position: static;
    min-width: 678px;
    width: 100%;
    padding: 60px;
    padding-top: 56px;
    margin-top: 12px;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    position: static;
    min-width: 290px;
    width: 100%;
    min-height: 433px;
    padding: 35px 15px 40px 15px;
  }
}

.calculator__offer-title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-weight: 500;
  font-size: 22px;

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    margin-bottom: 21px;
    font-size: 18px;
  }
}

.calculator__offer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    width: 454px;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.calculator__offer-item {
  width: 50%;
  margin-bottom: 26px;

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    width: 177px;
    margin-right: 50px;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    width: 100%;
    margin-bottom: 12px;
  }
}

.calculator__offer-item--percent,
.calculator__offer-item--income {
  padding-left: 35px;

  @media (min-width: $mobile) and (max-width: $desktop-breakpoint) {
    padding-left: 0;
  }
}

.calculator__offer-amount {
  font-weight: 500;
  font-size: 22px;
  margin: 0;
  margin-bottom: 2px;
  padding: 0;

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    margin-bottom: 2px;
    font-size: 18px;
  }
}

.calculator__offer-description-text {
  color: $dark;
  margin: 0;
  padding: 0;
}

.calculator__offer-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 51px;
  padding: 10px;
  margin-top: 8px;
  background-color: $basic-bright;
  color: $background-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    font-size: 14px;
    margin-top: 16px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.7;
  }
}

.calculator__message {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: $background-color;
  border-radius: 4px;
  padding: 56px 91px 53px 55px;
  position: absolute;
  top: 0;
  right: 0;

  @media (min-width: $desktop) and (max-width: $max-content-breakpoint) {
    width: 450px;
    padding: 60px 30px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    position: static;
    min-width: 678px;
    width: 100%;
    padding: 54px 268px 55px 60px;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    position: static;
    min-width: 290px;
    width: 100%;
    padding: 35px 15px;
  }
}

.calculator__message-loan-too-small {
  font-weight: 500;
  font-size: 22px;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    font-size: 18px;
    padding-right: 52px;
  }
}

.calculator__message-change-calc-params {
  margin: 0;
  color: $dark;

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    br {display:none}
  }
}

.calculator__third-step {
  margin: 0;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 65px 70px 70px 70px;
  width: 770px;
  background-color: $background-color;
  border-radius: 4px;

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    margin: 0;
    margin-top: 53px;
    padding: 0;
    width: 100%;
    background: none;
    border: none;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    margin: 0;
    margin-top: 44px;
    padding: 0;
    width: 100%;
    background: none;
    border: none;
  }
}

.calculator__step-title--third {
  text-align: center;
  margin-bottom: 12px;

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    margin-bottom: 25px;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    margin-bottom: 18px;
  }
}

.calculator__application-wrapper {
  display: flex;
  flex-direction: column;
}
