.footer {
  flex: 0 0 auto;
  background-color: $background-color;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "logo navigation mobile tel social"
  "copyright navigation mobile tel social";
  column-gap: 10px;
  margin: 49px 0 60px 0;

  @media (min-width: $desktop) and (max-width: $large-breakpoint) {
    column-gap: 55px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "logo mobile"
    "navigation tel"
    "copyright social";
    column-gap: 100px;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "logo"
    "navigation"
    "mobile"
    "tel"
    "social";
    row-gap: 24px;
  }
}

.footer__logo {
  grid-area: logo;
  margin: 0;
  padding: 0;
}

.footer__copyright {
  grid-area: copyright;
  font-size: 12px;
  color: $grey;

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    display: none;
  }
}

.footer-navigation {
  grid-area: navigation;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-navigation__item {
  font-weight: 500;
  margin: 0;
  margin-bottom: 8px;

  &:last-child {
      margin-bottom: 0;
  }
}

.footer-navigation__link {
  color: $basic-text-color;

  &:active {
      color: $basic-bright;
  }

  &:hover {
    color: $basic-bright;
  }
}

.footer__contacts-mobile {
  grid-area: mobile;
  padding: 0;
  padding-left: 29px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 16px;
    background-image: url("../../img/mobile.svg");
    display: inline-block;
  }
}

.footer__contacts {
  grid-area: tel;
  padding: 0;
  padding-left: 33px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url("../../img/tel.svg");
    display: inline-block;
  }
}

.footer__social {
  grid-area: social;
}
