.login-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 544px;
  min-height: 493px;
  margin: 0;
  padding: 60px 60px;
  border: 4px solid $basic-bright;

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    min-width: 678px;
    width: calc(100% - 90px);
    padding: 60px 88px;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    width: 290px;
    padding: 50px 20px;
  }
}

.login-popup__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    margin-bottom: 10px;
  }
}

.login-popup__btn-close {
  background: none;
  border: none;
  cursor: pointer;
}

.login-popup__btn-close svg {
  stroke: $basic-text-color;

  &:hover {
    stroke: $basic-bright;
  }
}

.login-popup__form {
  display: flex;
  flex-direction: column;
}

.login-popup__form-field {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 30px;

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    margin-top: 25px;
  }
}

.login-popup__form-field--password {
  position: relative;
}

.login-popup__form-label {
  color: $dark;
  margin-bottom: 10px;
}

.login-popup__form-label span {
  margin: 0;
  margin-left: 20px;
  color: red;
}

.login-popup__form-input {
  background-color: $background-color;
  border: 1px solid $basic-text-color;
  border-radius: 4px;
  min-height: 60px;
  padding: 10px 20px;
  cursor: pointer;

  &:active {
    outline: none;
    border: 1px solid $basic-bright;
  }

  &:focus {
    outline: none;
    border: 1px solid $basic-bright;
  }
}

.login-popup__show-password-btn {
  position: absolute;
  bottom: 20px;
  right: 24px;
  background: none;
  border: none;
  cursor: pointer;

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    right: 15px;
  }
}

.login-popup__show-password-btn svg {
  fill: $basic-text-color;

  &:hover {
    fill: $basic-bright;
  }
}

.login-popup__password-link {
  align-self: flex-end;
  color: $grey;
  font-size: 12px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 30px;

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    order: 4;
    align-self: center;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0;
  }

  &:hover {
    color: $basic-bright;
  }
}

.login-popup__submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: $basic-bright;
  border: none;
  border-radius: 4px;
  color: $background-color;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  min-height: 60px;

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    font-size: 14px;
    min-height: 51px;
    margin-top: 30px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.7;
  }
}
