.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 502px;
  margin: 0;
  margin-top: 33px;
  padding: 0;

  @media (min-width: $desktop) and (max-width: $large-breakpoint) {
    width: 483px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    margin-top: 27px;
    width: 421px;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    display: none;
  }
}

.site-navigation--opened {
  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 32px;
  }
}

.site-navigation__item {
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  margin-right: 16px;

  @media (min-width: $desktop) and (max-width: $large-breakpoint) {
    margin-right: 15px;
  }

  @media (min-width: $tablet) and (max-width: $desktop-breakpoint) {
    margin-bottom: 23px;
    margin-right: 10px;
  }

  @media (min-width: $mobile) and (max-width: $table-breakpoint) {
    margin: 0;
    padding-top: 19px;
    padding-left: 10px;
    padding-bottom: 18px;
    border-top: 1px solid $light-grey;
  }
}

.site-navigation__item:last-child {
  margin-right: 0;
}

.site-navigation__link {
  padding: 5px;
  color: $basic-text-color;

  &:hover {
    color: $basic-bright;
  }
  &:active {
    color: $basic-bright;
  }
}
