.tabs__desktop {
  display: flex;
  flex-direction: column;
}

.tabs__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 60px;
}

.tabs__list-item {
  width: 25%;
  min-height: 93px;
}

.tabs__list-item--active {
  background-color: $background-color;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tabs__list-item a {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 93px;
  text-decoration: none;
  font-family: $main-font;
  font-weight: 500;
  font-size: 18px;
  color: $basic-text-color;
}

.tabs__list-item:first-child a {
  padding-left: 135px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 91px;
    width: 34px;
    height: 33px;
    background-image: url("../../img/deposits-tab-icon.svg");
    display: inline-block;
  }
}

.tabs__list-item:nth-child(2) a {
  padding-left: 130px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 86px;
    width: 34px;
    height: 30px;
    background-image: url("../../img/loans-tab-icon.svg");
    display: inline-block;
  }
}

.tabs__list-item:nth-child(3) a {
  padding-left: 130px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 86px;
    width: 28px;
    height: 34px;
    background-image: url("../../img/insurance-tab-icon.svg");
    display: inline-block;
  }
}

.tabs__list-item:last-child a {
  padding-left: 130px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 86px;
    width: 20px;
    height: 34px;
    background-image: url("../../img/services-tab-icon.svg");
    display: inline-block;
  }
}
