.user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.user-navigation__item {
  list-style: none;
  margin: 40px 0 34px 0;
}

.user-navigation__link {
  color: $basic-text-color;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:hover {
    color: $basic-bright;
  }

  &:active {
    color: $basic-bright;
  }
}

.user-navigation__icon {
  fill: $basic-text-color;

  .user-navigation__link:hover & {
    fill: $basic-bright;
  }

  .user-navigation__link:active & {
    fill: $basic-bright;
  }
}

.user-navigation__text {
  margin-left: 10px;

  @media (min-width: $mobile) and (max-width: $desktop-breakpoint) {
    display: none;
  }
}
