//Viewports

// $large: 1366px;
$desktop: 1024px;
$desktop-breakpoint: 1023px;
$tablet: 768px;
$table-breakpoint: 767px;
$mobile: 320px;


//Project colors

$basic-white: #ffffff;
$basic-black: #000000;
$basic-text-color: #1F1E25;
$basic-bright: #2C36F2;
$background-color: #F6F7FF;
$grey: #707C87;
$light: #E0E1EA;

// Fonts

$main-font: "Roboto", "Arial", sans-serif;
